@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Hedvig+Letters+Serif:opsz@12..24&family=Heebo:wght@500&family=Indie+Flower&family=Kalnia:wght@600&family=Lato&family=Montserrat+Alternates:ital@1&family=Rubik+Scribble&display=swap');

.my-first{
    color: white;
    font-family:"Rubik Scribble";
}
.my-second{
    font-family: "Edu TAS Beginner",sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px gray;
}
.my-seconde{
    font-family: "Edu TAS Beginner",sans-serif;
    text-shadow: 1px 1px 1px rgb(150, 150, 150);
    font-weight: bold;
    
}
.my-first:hover{
    background-color: white;
    color: black;
}
.input{
    border: none;
    outline: none;
}
.back-image{
    background-image: url("/business-plan/invest.webp");
    height: 100vh;
    background-size: cover;
    width: 100%;
}
.back-first{
    background:linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.111));
    height: 100vh;
    width: 100%;
}

/* t_______+++++++++++++++++ the navbar apparition on the scroll when reach 150px _++++++++++++++++ */

#nav{
    background-color: white;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    /* transition: top 0.3s; */
    z-index: 100;
    padding-top: 0 !important;
   
  }
  #header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    /* transition: top 0.3s; */
    z-index: 100;
    padding-top: 0 !important;
  }
  /* _+++++++++++++++++++ the end of the shrink navbar _++++++++++++++++++++++++++ */

  #search{
    margin-top: -450px;
  }
  #fixe{
    margin-top: 0;
  }

  #my-text{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
  }



  @media(max-width:766px){
    .back-image{
      height: 55vh;
      background-size: cover;
      background-position: center;
      width: 100%;
  }
  .back-first{
      background:linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.239));
      height: 55vh;
      width: 100%;
  }
    #product-top{
        display: none;
    }

    
  #search{
    margin-top: -450px;
  }
  #fixe{
    margin-top: 0;
    display: none;
  }
  }

  /* #product-top:hover {
    border-bottom: 1px solid white;
  } */